//Cria nosso tema
$my-color-1: #00a1ff;
$my-color-2: #e2711d;
$my-color-3: #ffcd8a;
$my-color-4: #ffb627;
$my-color-5: #e65f5c;

$theme-colors:(
	"my-color-1": $my-color-1,
	"my-color-2": $my-color-2,
	"my-color-3": $my-color-3,
	"my-color-4": $my-color-4,
	"my-color-5": $my-color-5
	);

//Classes personalizadas
$link-color: $my-color-5;

// Deixa as imagens dos posts responsivas
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail{
	max-width: 100%;
	height: auto;
}

//importa o bootstrap
@import "node_modules/bootstrap/scss/bootstrap";